:root {
  color-scheme: light dark !important;

  --light-bg: ghostwhite !important;
  --light-color: darkslategray !important;
  --light-code: tomato !important;

  --dark-bg: darkslategray !important;
  --dark-color: ghostwhite !important;
  --dark-code: gold !important;
}

html {
  overflow-y: scroll !important;
  scrollbar-gutter: stable !important;
  scroll-padding-top: 150px !important;
}

body,
.navbar,
.card,
.modal-content,
.dropdown-menu,
section,
img {
  background-color: var(--light-bg) !important;
  color: var(--light-color) !important;
  transition: all 0.8s ease-in-out !important;
}

.dark-mode,
.dark-mode .navbar,
.dark-mode .card,
.dark-mode .modal-content,
.dark-mode .dropdown-menu,
.dark-mode section,
.dark-mode img {
  background-color: var(--dark-bg) !important;
  color: var(--dark-color) !important;
  transition: all 0.8s ease-in-out !important;
}

.navbar .nav-link.active,
.navbar .nav-link:focus,
.navbar .nav-link:hover,
.navbar .navbar-brand.active,
.navbar .navbar-brand:focus,
.navbar .navbar-brand:hover,
code,
.btn {
  color: var(--light-code) !important;
}

.dark-mode .navbar .nav-link.active,
.dark-mode .navbar .nav-link:focus,
.dark-mode .navbar .nav-link:hover,
.dark-mode .navbar .navbar-brand.active,
.dark-mode .navbar .navbar-brand:focus,
.dark-mode .navbar .navbar-brand:hover,
.dark-mode code,
.dark-mode .btn {
  color: var(--dark-code) !important;
}

a:hover:not(.nav-link),
.btn:hover {
  background-color: var(--light-code) !important;
  color: var(--light-bg) !important;
}

.dark-mode a:hover:not(.nav-link),
.dark-mode .btn:hover {
  background-color: var(--dark-code) !important;
  color: var(--dark-bg) !important;
}

.scroll-item {
  opacity: 0 !important;
  transform: translateY(40px) !important;
  transition: all 0.8s ease-in-out !important;
}

.scroll-item.visible {
  opacity: 1 !important;
  transform: translateY(0) !important;
}

section {
  border-radius: 0.5rem !important;
  max-width: 70% !important;
  width: 100% !important;
  margin: 8rem auto !important;
  /* Y/X */
}

#technologies a {
  height: 100% !important;
  width: 50% !important;
  align-content: center !important;
  border: 0.1rem solid !important;
}

#technologies i:not(.bi-bootstrap) {
  font-size: 2.5rem !important;
  /* background-color: red !important; */
}

.bi-bootstrap {
  font-size: 1.7rem !important;
  /* background-color: red !important; */
}

#mode {
  width: 8rem !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

img {
  border: 0.25rem solid !important;
  border-radius: 0.5rem !important;
}

@media screen and (max-width: 600px) {
  html {
    scroll-padding-top: 120px !important;
  }

  section {
    padding: 0 !important;
    max-width: 100% !important;
  }
}