:root {
  color-scheme: light dark !important;

  --light-bg: ghostwhite;
  --light-color: darkslategray;
  --light-code: tomato;
  --dark-bg: darkslategray;
  --dark-color: ghostwhite;
  --dark-code: gold;
}

html {
  overflow-y: scroll !important;
  scrollbar-gutter: stable;
  scroll-padding-top: 200px !important;
}

body,
.navbar,
.card,
.modal-content,
.dropdown-menu,
section,
img,
input {
  background-color: var(--light-bg) !important;
  color: var(--light-color) !important;
  transition: all 0.8s ease-in-out !important;
}

.dark-mode,
.dark-mode .navbar,
.dark-mode .card,
.dark-mode .modal-content,
.dark-mode .dropdown-menu,
.dark-mode section,
.dark-mode img,
.dark-mode input {
  background-color: var(--dark-bg) !important;
  color: var(--dark-color) !important;
  transition: all 0.8s ease-in-out !important;
}

.navbar .nav-link.active,
.navbar .nav-link:focus,
.navbar .nav-link:hover,
.navbar .navbar-brand.active,
.navbar .navbar-brand:focus,
.navbar .navbar-brand:hover,
code,
.btn,
.card-title,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--light-code) !important;
}

.dark-mode .navbar .nav-link.active,
.dark-mode .navbar .nav-link:focus,
.dark-mode .navbar .nav-link:hover,
.dark-mode .navbar .navbar-brand.active,
.dark-mode .navbar .navbar-brand:focus,
.dark-mode .navbar .navbar-brand:hover,
.dark-mode code,
.dark-mode .btn,
.dark-mode .card-title,
.dark-mode h1,
.dark-mode h2,
.dark-mode h3,
.dark-mode h4,
.dark-mode h5,
.dark-mode h6 {
  color: var(--dark-code) !important;
}

a:hover:not(.nav-link),
.btn:hover {
  background-color: var(--light-code) !important;
  color: var(--light-bg) !important;
}

.dark-mode a:hover:not(.nav-link),
.dark-mode .btn:hover {
  background-color: var(--dark-code) !important;
  color: var(--dark-bg) !important;
}

#technologies .border-end {
  border-right: 1px solid var(--light-color) !important;  
}

.dark-mode #technologies .border-end {
  border-right: 1px solid var(--dark-color) !important;
}

.card-title { 
  border-bottom: 1px solid var(--light-color) !important;
  padding-bottom: 0.5rem !important;
}
.dark-mode .card-title {
  border-bottom: 1px solid var(--dark-color) !important;
  padding-bottom: 0.5rem !important;
}

.scroll-item {
  opacity: 0 !important;
  transform: translateY(40px) !important;
  transition: all 0.8s ease-in-out !important;
}

.scroll-item.visible {
  opacity: 1 !important;
  transform: translateY(0) !important;
}

section {
  border-radius: 0.5rem !important;
  max-width: 70% !important;
  width: 100% !important;
  margin: 9rem auto !important;
  /* Y/X */
}

#about_me i, #projects i {
  font-size: 1.5rem;
  display: inline-block;
  line-height: 1;
}

.card-body {
  text-wrap: balance;
}

#technologies a {
  height: 100% !important;
  width: 100% !important;
  align-content: center !important;
  font-size: 1rem !important;
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  align-items: center !important;
  text-align: center !important;
}

#technologies i {
  font-size: 2.5rem;
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
}

#technologies svg {
  height: 2.5rem;
  width: 2.5rem;
}

.bi-bootstrap {
  font-size: 1.7rem;
}

#mode {
  width: 8rem !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

img {
  border: 0.25rem solid !important;
  border-radius: 0.5rem !important;
}

@media screen and (max-width: 600px) {
  html {
    scroll-padding-top: 120px !important;
  }

  section {
    padding: 0 !important;
    max-width: 100% !important;
  }
}